<div class="collapse" id="navbarToggleExternalContent">
    <div class="d-flex justify-content-between bg-dark">
        <div class="bg-dark p-4">
            <h5 class="text-white h4" *ngIf="userObject">{{userObject.name}} {{userObject.surname}}</h5>
          </div>
          <div class="bg-dark p-4">
              <h5 class="text-white h4"><a (click)="logOut()">Logout</a></h5>
            </div>
    </div>

  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
